@charset "utf-8";
/*please don't delete*/
html.ltr .ss_samsung .footer .flag-br {
	margin-left: 10px;
}
.ss_samsung .footer .flag-br {
	background: url('http://www.samsung.com/common/next/img/flag-br.png');
	background-size:100%;
	width: 30px;
	height: 20px;
	margin-top: -3px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
}

.ss_samsung .footer .emailsupport {
	background:url('http://www.samsung.com/br/next/img/icn_email.png') no-repeat left center;
	background-size:100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	width:20px;
	height:20px;
}

.ss_samsung .footer a.icon-youtube {
	background:url('http://www.samsung.com/br/next/img/icon-youtube_off.png') no-repeat left center;
	background-size:100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	width:20px;
	height:21px;
}
.ss_samsung .footer a.icon-youtube:hover, .ss_samsung .footer .icon-youtube a.icon-youtube:active {
	background:url('http://www.samsung.com/br/next/img/icon-youtube_on.png') no-repeat left center;
	background-size:100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
/*please don't delete*/
/*@media (max-width:479px) {
	.ss_samsung .filterSort .filter-sortby .toggle h3{
		font-size:12px;
	}
}
@media (max-width:359px) {
	.ss_samsung .filterSort .filter-sortby .toggle h3{
		font-size:12px;
	}
}*/ /* Mobile Portrait  */

/* filter by, sort by */
@media (min-width: 1281px){
	.ss_samsung .filterSort .filter-sortby .toggle h3,
	.ss_samsung #content .filter .expandable .toggle p { text-transform: none!important;}
}