@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('SamsungSharpSansRegular.eot');
    src: url('SamsungSharpSansRegular.eot') format('embedded-opentype'), url('SamsungSharpSansRegular.woff2') format('woff2'), url('SamsungSharpSansRegular.woff') format('woff'), url('SamsungSharpSansRegular.ttf') format('truetype'), url('SamsungSharpSansRegular.svg#SamsungSharpSansRegular') format('svg');
}
@font-face {
    font-family: 'Samsung InterFace';
    src: url('SamsungInterFaceBold.eot');
    src: url('SamsungInterFaceBold.eot') format('embedded-opentype'), url('SamsungInterFaceBold.woff2') format('woff2'), url('SamsungInterFaceBold.woff') format('woff'), url('SamsungInterFaceBold.ttf') format('truetype'), url('SamsungInterFaceBold.svg#SamsungInterFaceBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Samsung InterFace';
    src: url('SamsungInterFaceRegular.eot');
    src: url('SamsungInterFaceRegular.eot') format('embedded-opentype'), url('SamsungInterFaceRegular.woff2') format('woff2'), url('SamsungInterFaceRegular.woff') format('woff'), url('SamsungInterFaceRegular.ttf') format('truetype'), url('SamsungInterFaceRegular.svg#SamsungInterFaceRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
