@import 'variables'

@import 'blocks/home'
@import 'blocks/embalagem'
@import 'blocks/listagem'
@import 'blocks/caracteristicas'
@import 'blocks/sorteios'
@import 'blocks/programa'
@import 'blocks/table'
@import 'blocks/economia'
@import 'blocks/participantes'
@import 'blocks/perguntas_frequentes'
@import 'blocks/modal'

html, body
  width 100%
  height 100%
  margin 0px
  padding 0px
  overflow-x hidden

body
  overflow-x hidden !important
  background-image url("../images/embalagem/fundo.jpg")
  background-size 100% 100%
  background-position top center
  padding-right 0px !important

.titulo
  font-size 40px !important
  font-family 'Samsung InterFace' !important
  font-weight bold !important
  margin-top 40px !important
  margin-bottom 40px !important

.subtitulo
  font-size 22px !important
  font-family 'Samsung InterFace' !important
  font-weight normal !important
  margin-top 40px !important
  margin-bottom 40px !important

  strong
    font-family 'Samsung InterFace'
    font-weight bold
    font-size 24px

.global_header
  position absolute !important

.ss_samsung .footer .fbico,
.ss_samsung .footer .twico
  font-size 20px !important

.footer a
  font-size 14px

.footer span.cc
  font-size 12px

.footer .section
  width 100% !important

.ss_samsung #content, .ss_samsung .footer
  background transparent

.animacaoRapida
  animation-duration 0.1s

.bolinha_azul
  display inline-block
  width 7px
  height 7px
  position relative
  top -2px
  background #1384c3
  border-radius 100%

.bolinha_preta
  display inline-block
  width 7px
  height 7px
  position relative
  top -2px
  background #000
  border-radius 100%

.texto_azul
  color #1384c3
  margin-top 10px
  margin-bottom 10px !important
  font-weight bold
  font-family 'Samsung InterFace'
  padding-left 10px !important
  font-size 16px

.modal_azul
  width 100%
  display inline-block
  clear both
  margin-bottom 10px
  margin-top 10px
  background #1384c3
  color #FFF
  padding 10px
  text-transform uppercase
  font-family 'Samsung InterFace'
  font-weight bold
  font-size 28px
  position relative
  padding-left 200px
  left -15px

.logos_rodape
  width 100%
  height 114px
  background #FFF url("../images/logos_rodape.png") no-repeat
  background-size contain !important
  background-position center center
  float left

.txt-4
  font-size 11px
  position relative
  top -6px
  right 3px

.txt-5
  font-size 11px
  position relative
  top -12px
  right 3px

#modalTradeIn .modal-body p
  width 97% !important
  padding-left: 185px;
  font-family: 'Samsung InterFace';
  line-height: 150%;
  font-size: 19px;


@media (max-width: 120em) and (min-width: 80.063em)
  .ss_samsung .footer .section {
      padding: 12px 2% !important;
  }

@media only screen and (max-width : 768px)
  .global_header
    position static !important
  #modalTradeIn
    .modal-dialog
      width: 100%
      margin: 0
    .closeBtn
      top: 10px !important
      right: -10px !important
    .modal-body
      p
        padding-left: 20px !important
  .modal_azul
    padding-left: 20px
    margin-top: 0
    left: 0

@media only screen and (min-width : 768px)

  .margin-top20
    margin-top 20px !important

  .margin-top43
    margin-top 43px !important

  .margin-top33
    margin-top 33px !important

  .margin-top53
    margin-top 53px !important

  .margin-top37
    margin-top 37px !important
