@charset "utf-8";

html.ltr .nav .signbutton {display: block;}
html.ltr .nav .otherlink {display:none;}
#header .header-login{display:none;}
#header .js-m-login{display:none;}

/* fix : gnb color */
.header-nav:not(.is-open) .depth1 .depth1-menu > a { color: #fff; }
.depth1-menu-lk:hover, .depth1-menu-lk:active, .depth1-menu-lk:focus, .is-show .depth1-menu-lk { color: #343434 !important; background-color: #b8d8ee; }
