#programa,#programa_1,#programa_2,#programa_3
  position relative
  background-image url("../images/embalagem/fundo.jpg")
  background-size 100% 100%
  background-position top center

  .subtitulo
    display: block;
    margin-top: 20px !important;

  .fp-tableCell
    vertical-align middle
    position relative
    text-align: center

  .fp-controlArrow.fp-next
    background-image url("../images/caracteristicas/seta-dir.png")
    background-repeat no-repeat
    background-size contain !important
    width 30px
    height 33px
    border none

  .fp-controlArrow.fp-prev
    background-image url("../images/caracteristicas/seta-esq.png")
    background-repeat no-repeat
    background-size contain !important
    width 30px
    height 33px
    border none

  .fp-controlArrow.fp-prev#current-slide-1
    background-image url("../images/programas/seta-branca-esq.png")

  .fp-controlArrow.fp-next#current-slide-1
    background-image url("../images/programas/seta-branca-dir.png")

  h1
    font-family 'Samsung InterFace'
    font-size 29px !important
    font-weight bold
    margin 0px
    width 320px
    display block
    text-align center
    margin 40px auto 0 auto !important
    padding-left 20px
    padding-right 20px

  .subtitulo
    font-family 'Samsung Sharp Sans' !important
    font-size: 15px !important;
    line-height: 130%;
    margin:20px auto!important;


  h2
    font-family 'Samsung InterFace'
    font-size 21px
    line-height 26px
    margin 0px
    width 100%
    display block
    text-align center
    margin-top 5px
    margin-bottom 20px
    padding-left 10px
    padding-right 10px
    line-height: 120%

  .slide-1
    h1
      font-size: 22px !important

    .listagem
      width 60%
      display block
      margin 0 auto

      .num
        font-family 'Samsung Sharp Sans'
        font-size 66px
        font-weight bold
        display block
        width 100%
        line-height 100%
        animation-delay 0.5s
        padding-top 5px

      p
        font-family 'Samsung Sharp Sans' !important
        font-size: 20px !important

      .item
        width 100%
        display block
        margin 0 auto
        margin-right 2px
        height 230px
        background #1384c3
        text-align center
        vertical-align middle
        color #FFF
        padding-top 10px
        margin-top: 5px

        p
          font-size 21px
          font-family 'Samsung InterFace'
          animation-delay 1s

        &:last-child
          border none

        &.cinza
          background-color #848484

  .slide-2

    span.bola
      width 6px
      height 6px
      display inline-block
      margin-right 5px
      margin-top 4px
      background #000
      border-radius 100%
      position relative
      top -3px

    p
      font-family 'Samsung Sharp Sans'
      font-size 14px
      width 100%
      margin 0 auto 20px auto
      padding 0 20px

    h2
      font-size 29px
      font-weight bold
      font-family 'Samsung InterFace'
      margin-bottom 20px

      small
        display block
        font-size 18px
        font-weight bold !important
        font-family 'Samsung InterFace'
        font-weight normal
        color #333

    .icone
      width 170px
      height 60px
      display inline-block
      background-repeat no-repeat
      background-position top center
      background-size contain

      &.icone-1
        background-image url("../images/programas/slide-3/icone-1.png")
        position relative
        top 0px
      &.icone-2
        background-image url("../images/programas/slide-3/icone-2.png")
        height 170px
      &.icone-3
        width 98px
        height: 120px
        margin-top: -20px
        background-image url("../images/programas/slide-3/icone-3.png")

    .listagem
      display inline-block

      .item
        float left
        width 100%
        text-align center
        padding-top 10px

  .slide-3

    .item_tabela_wrapper
      width 80%
      margin 0 auto
      margin-bottom 60px !important

    .item_tabela
      display inline-block
      width 100%
      margin-top: 3px;

      p
        font-size 15px !important

      .conteudo
        display inline-block
        width 100%
        background #1384c3
        padding-left 12px
        padding-right 12px
        padding-top 12px
        color #FFF
        font-family 'Samsung Sharp Sans'
        text-align center

        a
          color #000


      .cabeca
        display inline-block
        width 100%
        height 60px
        line-height 60px
        background #848484
        padding-left 12px
        color #FFF
        font-family 'Samsung InterFace'
        font-weight bold
        font-size 22px
        margin-bottom: 3px

        p
          font-size 22px !important

    h1
      margin-top 30px
      margin-bottom 30px !important
      font-size: 21px !important;

    .table-samsung
      max-width 52%

@media only screen and (min-width: 768px)
  #programa
    position relative

    .fp-tableCell
      vertical-align middle
      position relative

    .fp-controlArrow.fp-next
      background-image url("../images/caracteristicas/seta-dir.png")
      background-repeat no-repeat
      width 50px
      height 53px
      border none

    .fp-controlArrow.fp-prev
      background-image url("../images/caracteristicas/seta-esq.png")
      background-repeat no-repeat
      width 50px
      height 53px
      border none

    .fp-controlArrow.fp-prev#current-slide-1
      background-image url("../images/programas/seta-branca-esq.png")

    .fp-controlArrow.fp-next#current-slide-1
      background-image url("../images/programas/seta-branca-dir.png")

    h1
      font-family 'Samsung InterFace'
      font-size 38px !important
      font-weight bold
      margin 0px
      width 100%
      display block
      text-align center
      margin-top 33px
      margin-bottom 33px
      padding-left 20px
      padding-right 20px
      position: absolute;
      top: 0

    .subtitulo
      font-size: 24px !important;

    h2
      font-family 'Samsung InterFace'
      font-size 21px
      line-height 26px
      margin 0px
      width 100%
      display block
      text-align center
      margin-top 5px
      margin-bottom 70px
      padding-left 10px
      padding-right 10px

    .slide-1
      h1
        font-size: 38px !important

      .listagem
        width 960px

        .num
          font-family 'Samsung Sharp Sans'
          font-size 96px
          font-weight bold
          display block
          width 100%
          height 104px

        .item
          width 318px
          float left
          margin-right 2px
          height 330px
          background #1384c3
          text-align center
          vertical-align middle
          color #FFF
          padding-top 66px
          margin-top: 0

          p
            font-size 21px
            line-height 26px
            margin-top 10px
            font-family 'Samsung Sharp Sans'

          &:last-child
            border none

          &.cinza
            background-color #848484

    .slide-antigo
      background-color #001722
      color #FFF

      .celular
        width 556px
        height 190px
        background-image url("../images/programas/slide-2/celular.png")
        background-size 100% 100%
        position absolute
        left 50%
        margin-left -280px
        bottom 0px

      .fp-tableCell
        vertical-align top
        position relative

      h1
        font-size 31px
        font-family 'Samsung InterFace'

      h2
        margin 0 auto
        width 60%

      .listagem
        display block
        width 65%
        margin 0 auto
        margin-top 40px

        .item
          float left
          width 25%

        p
          font-size 15px
          font-family 'Samsung Sharp Sans'

        .num
          text-align center
          font-size 52px
          color #1481be
          float left
          width 72px
          height 170px
          font-weight bold
          font-family 'Samsung Sharp Sans'
          position relative
          top -10px

    .slide-2
      h1
        font-size: 38px !important

      span.bola
        width 6px
        height 6px
        display inline-block
        margin-right 5px
        margin-top 4px
        background #000
        border-radius 100%
        position relative
        top -3px

      p
        font-family 'Samsung Sharp Sans'
        font-size 15px
        padding 0 17px

      h2
        font-size 28px
        font-weight bold
        font-family 'Samsung InterFace'
        margin-bottom 20px
        margin-top 20px
        line-height 120%

        small
          display block
          font-size 21px
          font-weight bold
          font-family 'Samsung InterFace'
          font-weight normal
          color #333

      .icone
        width 170px
        height 120px
        display inline-block
        background-repeat no-repeat
        background-position top center
        background-size contain

        &.icone-1
          background-image url("../images/programas/slide-3/icone-1.png")
          position relative
          top 30px
        &.icone-2
          background-image url("../images/programas/slide-3/icone-2.png")
          height: 120px
        &.icone-3
          width 98px
          margin-top: 0
          background-image url("../images/programas/slide-3/icone-3.png")

      .listagem
        width 1000px
        display: inline-block;
        margin-top: 50px;

        .item
          float left
          width 33%
          text-align center

    .slide-3
      h1
        font-size: 38px !important

      .item_tabela
        width 33% !important
        border-right: 4px solid #FFF;

        .cabeca
          font-size 26px
          border-bottom: 2px solid #fff;
          margin-bottom: 0

        .noBorderRight
          border-right: 0 !important

        .conteudo
          min-height 350px !important
          border-top: 2px solid #FFF;

      .table-samsung
        max-width 52%
