// Mobile
#sorteios
  position relative
  background-image url("../images/embalagem/fundo.jpg")
  background-size 100% 100%
  background-position top center

  .sorteiosTexto
    width 320px
    text-align center
    margin 0 auto 20px auto

  .fp-tableCell
    vertical-align top
    position relative

  h1
    font-family 'Samsung InterFace'
    font-size 21px !important
    line-height: 95%
    font-weight bold
    margin 0px
    width 100%
    display block
    text-align center
    margin-top 40px
    margin-bottom 10px
    padding-left 20px
    padding-right 20px
    margin-bottom: 15px !important;

  .subtitulo
    font-size 15px !important
    margin-top: 0 !important
  
  p
    font-family 'Samsung InterFace'
    font-size 13px
    line-height 16px
    margin 0px
    width 320px
    display block
    text-align center
    margin 5px auto
    padding-left 10px
    padding-right 10px

  .celular
    width 100%
    height 120px
    background-image url("../images/sorteios/celular.png")
    background-size 100%
    background-position top center
    background-repeat no-repeat
    float left
    margin-top 10px
    margin-bottom 10px

  span.bola
    width 6px
    height 6px
    display inline-block
    margin-right 5px
    margin-top 4px
    background #000
    border-radius 100%
    position relative
    top -3px

@media screen and (orientation:landscape) and (max-width : 768px)
  #sorteios .celular
    width 252px !important
    height 85px !important
    margin-top -20px !important

// // Tablet
@media only screen and (min-width : 768px)
  #sorteios
    position relative

    .sorteiosTexto
      position absolute
      bottom 0px
      width 100%
      text-align center

    .fp-tableCell
      vertical-align top
      position relative

    h1
      font-family 'Samsung InterFace'
      font-size 38px !important
      font-weight bold
      margin 0px
      width 100%
      display block
      text-align center
      margin-top 20px !important
      margin-bottom 40px
      padding-left 20px
      padding-right 20px

    .subtitulo
      font-size: 21px !important;
    p
      font-family 'Samsung InterFace'
      font-size 21px
      line-height 120%
      margin 0px
      width 100%
      display block
      text-align center
      margin-top 5px
      margin-bottom 5px
      padding-left 10px
      padding-right 10px
      margin-top 0

    .celular
      max-width 1087px
      width 100%
      height 366px
      background-image url("../images/sorteios/celular.png")
      background-size 100%
      background-position top center
      background-repeat no-repeat
      position absolute
      top 50%
      left 0px
      margin-top -122px

    span.bola
      width 6px
      height 6px
      display inline-block
      margin-right 5px
      margin-top 4px
      background #000
      border-radius 100%
      position relative
      top -3px
