#terceiro
  background-image url("../images/embalagem/fundo.jpg")
  background-size 100% 100%
  background-position top center
  position relative
  
  .fp-controlArrow.fp-next
    background-image url("../images/terceiro/seta-dir.png")
    background-repeat no-repeat
    width 50px
    height 53px
    border none
  
  .fp-controlArrow.fp-prev
    background-image url("../images/terceiro/seta-esq.png")
    background-repeat no-repeat
    width 50px
    height 53px
    border none
  
  .fp-tableCell
    vertical-align top
    position relative
  
  h1
    font-family 'Samsung Sharp Sans'
    font-size 22px
    font-weight bold
    margin 0px
    width 100%
    display block
    text-align center
    margin-top 50px
    margin-bottom 20px
  
  p
    font-family 'Samsung Sharp Sans'
    font-size 15px
    margin 0px
    width 100%
    display block
    text-align center
    margin-top 10px
    margin-bottom 10px
    
  .slide-1
    
    .celular
      width 92%
      height 300px
      background-image url("../images/terceiro/slide-1/celular.png")
      background-size 100% 100%
      position absolute
      left 50%
      margin-left -46%
      bottom 0px