#caracteristicas,#caracteristicas_1,#caracteristicas_2,#caracteristicas_3
  background-image url("../images/embalagem/fundo.jpg")
  background-size 100% 100%
  background-position top center
  position relative

  .paragrafo-mobile
    width 100%
    margin 0px
    font-size 17px
    line-height 130%
    margin-top 20px
    font-family 'Samsung InterFace'

  .fp-controlArrow.fp-next
    background-image url("../images/caracteristicas/seta-dir.png")
    background-repeat no-repeat
    background-size contain !important
    width 30px
    height 33px
    border none

  .fp-controlArrow.fp-prev
    background-image url("../images/caracteristicas/seta-esq.png")
    background-repeat no-repeat
    background-size contain !important
    width 30px
    height 33px
    border none

  .fp-tableCell
    vertical-align middle
    position relative

  .slide-3
    p
      max-width 420px

  h1
    font-family 'Samsung InterFace'
    font-size 21px !important
    font-weight bold
    margin 0px
    width 100%
    display block
    text-align center
    margin 30px 0 10px 0 !important
    padding 0 5px
  h2
    font-family 'Samsung InterFace'
    font-size 17px
    font-weight normal
    margin 0px
    width 100%
    display block
    text-align center
    margin-top 20px
    padding-left 20px
    padding-right 20px

  p
    font-family 'Samsung Sharp Sans'
    font-size 14px
    line-height 16px
    margin 0px
    width 320px
    display block
    text-align center
    margin 15px auto 20px auto
    padding-left 10px
    padding-right 10px
    max-width 410px

    .pequeno
      font-size 7px
      position relative
      top 5px
      left 0
      font-family 'Samsung InterFace' !important
      vertical-align: text-top;
      font-weight: 700;


    &.paragrafo-maior
      font-size 27px !important
      margin-top 30px
      line-height: 120%
      font-family 'Samsung InterFace' !important

	p.regular
			font-family 'Samsung InterFace' !important
			line-height 100%;
			font-weight normal !important

  .destaque
    border 1px solid #147fbc
    padding 5px 10px
    border-radius 5px
    width 452px
    margin-left 10%
    margin-top 40px

    p
      width 100%
      margin 0px !important
      color #147fbc
      font-size 14px !important
      margin-bottom 0px !important

  .slide-1

    .celular
      width 100%
      height 220px
      background url("../images/caracteristicas/slide-1/celular.png") no-repeat
      background-position center center
      background-size contain !important
      float left
      margin-top 60px

  .slide-2

    p
      font-size 11px
      margin-left 0px
      padding-left 0px
      width 100%

    .destaque
      margin-left 0px
      padding-left 0px
      padding-right 0px
      width 300px
      display block
      margin 0 auto
      margin-top 10px

      strong
        font-weight bold
        font-family 'Samsung InterFace'

      p
        padding 10px 5px !important
        font-size 14px !important
        margin-left 0 !important
        width: 100% !important
        line-height 120% !important

        strong
          font-weight: normal
          margin-right: 5px;

    em
      color #147fbc
      font-style normal

    .celular
      width 100%
      height 200px
      background url("../images/caracteristicas/slide-2/celular.png") no-repeat
      background-position center center
      background-size contain !important
      float left
      margin-top 60px

  .slide-3
    .subtitulo
      display: block;
      margin-top: 20px !important;
      font-size: 18px !important;

    .center
      padding-left: 0 !important

    .icone
      display: inline-block !important;
      vertical-align: middle;
      float: none !important

    h1
      margin-bottom 0px !important

    h2
      font-size 16px
      margin-top 20px

    .conteudo-inferior
      width 100% !important
      margin-left: 0 !important;
      display inline-block
      margin-top 10px
      text-align: center;
      position: static !important;


      p
        width 100%
        font-family 'Samsung InterFace' !important
        line-height 16px
        font-size 13px
        margin-left 0px
        padding-left 0px

        strong
          display block
          font-size 16px
          font-family 'Samsung InterFace'
          font-weight bold
          margin-top 10px
      em
        color #147fbc
        font-style normal
        font-weight bold
        font-family 'Samsung InterFace'

      span.icone
        background-image url("../images/caracteristicas/slide-3/icone.png")
        background-repeat no-repeat
        background-position center center
        background-size contain !important
        width 100%
        height 152px
        margin 0 auto
        display block
        margin-top 10px
        margin-bottom 20px
        position relative
        right -20px

@media screen and (max-width : 768px)
    .slide-2
      .destaque
        strong
          display block
          font-weight: bold !important;

@media screen and (orientation:landscape) and (max-width : 768px)
  .slide-2 .celular
    width 183px
    height 184px
    right 40px

  .slide-2 p
    text-align left !important
    padding-left 54px !important
    margin-bottom 10px !important

  .slide-2 .destaque
    width 43%
    margin 0 !important
    margin-left 53px !important
    padding-left 10px
    padding-top 0px
    p
      padding-top 0px !important
      padding-bottom 0px !important
      margin-bottom 0px !important

@media only screen and (min-width : 768px)

  #caracteristicas,#caracteristicas_1,#caracteristicas_2,#caracteristicas_3
    .center{
      display: inline-block;
      max-width: calc(50vw - 5%);
      text-align: center;
      padding-left: 5%;
      vertical-align: middle;
    }

    .fp-controlArrow.fp-next
      background-image url("../images/caracteristicas/seta-dir.png")
      background-repeat no-repeat
      background-size contain !important
      width 50px
      height 53px
      border none

    .fp-controlArrow.fp-prev
      background-image url("../images/caracteristicas/seta-esq.png")
      background-repeat no-repeat
      background-size contain !important
      width 50px
      height 53px
      border none

    p
      font-size 25px !important
      line-height 120%
      width 100%

      .pequeno
        font-size 13px

    h1
      margin-top 40px
      margin-bottom 120px
      font-size 36px !important
      position absolute
      top 0
      left 0

    .slide-3

      h1
        margin-bottom 0px !important

      .conteudo-inferior


        p
          font-family 'Samsung InterFace'
          line-height 120%
          margin-top: 0;
          font-size: 20px !important;

          strong
            display block
            font-size 28px
            font-family 'Samsung InterFace'
            font-weight bold
            margin-top 0px !important
            //margin-bottom 10px !important
        em
          color #147fbc
          font-style normal
          font-weight normal

        span.icone
          background-image url("../images/caracteristicas/slide-3/icone.png")
          background-repeat no-repeat
          background-size 100%
          width 236px
          height 246px
          float left
          margin-top -10px
          margin-bottom 0px

    .slide-1
      p
        font-size 20px !important
      .celular
        width 45vw !important
        height 43vw !important
        background-image url("../images/caracteristicas/slide-1/celular.png") !important
        background-size 100% 100% !important
        position absolute !important
        right 5% !important
        bottom 0px !important

        p
         margin-left: 1% !important


    .slide-2
      p
        font-size 20px !important

      .destaque
        width 100%
        margin 0px !important
        margin-bottom 20px
        display inline-block
        max-width: 450px

        p
          font-size 16px !important


      .celular
        width calc(50vw - 5%) !important
        height 75vh !important
        background-image url("../images/caracteristicas/slide-2/celular.png")
        background-size contain
        background-position bottom center
        position absolute
        right 5%
        bottom 0px
