.modal-header
  background #1588c9
  border-top-left-radius 6px
  border-top-right-radius 6px
  border-bottom-left-radius 0px
  border-bottom-left-radius 0px

  h4
    color #FFF
    text-transform uppercase
    font-family 'Samsung InterFace'
    font-weight bold
    font-size 22px


.botao_condicoes_regulamento
  font-family 'Samsung InterFace'
  font-weight bold
  font-size 22px
  color #147fbc
  border 2px solid #147fbc
  display block
  width 300px
  margin 0 auto
  text-align center
  padding 5px 10px
  margin-top 20px !important
  text-decoration none !important
  border-radius 3px
  margin-bottom 40px

.botao_voltar_ao_topo
  font-family 'Samsung InterFace'
  font-weight bold
  font-size 16px
  color #147fbc
  width 100%
  text-align center
  padding 15px 5px
  margin-top 0px
  text-decoration none !important
  border-radius 3px
  display inline-block
  background #FFF

.closeBtn
  width 45px
  height 45px
  background url("../images/fechar-modal.png") no-repeat !important
  background-size: contain !important
  position absolute
  right -45px
  top 0px
  opacity 1

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #147fbc;
  position: relative;
  top: -12px;
  right: -6px;
}

#modalResgateAntecipado
  .div-samsung
    max-width: 500px
    height: auto;
    display: inline-block;

  .inside
    .line
      background #1384c3
      color #FFF
      font-size: 0
      text-align center
      padding-top: 5px
      vertical-align middle !important
      border none !important
      text-align: left;
      &:last-child
        padding-bottom: 30px

      div
        font-size 17px
        font-family 'Samsung Sharp Sans'
        display: inline-block;

      .one
        padding-left: 55px;
        width: 40%
      .two
        width: 60%
        padding-left: 60px;
        padding-right: 20px;

  .headTable
    height: auto
    display: block;
    border-bottom: 2px solid #fff;
    font-size: 0
    background #848484
    min-height 70px
    color #FFF
    padding: 0 5px
    font-family 'Samsung InterFace'
    border none !important
    text-align center
    vertical-align middle !important

    div
      display: inline-block;
    .one
      width: 40%
      span
        padding-left: 50px
        padding-top: 10px
        display: inline-block;
    .two
      width: 60%

      span
        padding-bottom: 10px;
    span
      padding: 30px 0 0 0
      display: block;
      text-transform: uppercase;
      text-align: left
      font-size: 20px;
      font-family 'Samsung InterFace'
      font-weight bold
      font-size 22px

@media only screen and (max-width : 768px)
  #modalResgateAntecipado
    .modal-dialog
      text-align: center;
    .modal-content
      max-width: 300px;
      display: inline-block;
    .div-samsung
      max-width: 300px
      height: auto;
      display: inline-block;

    .inside
      .line
        background #1384c3
        color #FFF
        font-size: 0
        text-align center
        padding-top: 5px
        vertical-align middle !important
        border none !important
        text-align: left;
        &:last-child
          padding-bottom: 30px
        &:first-child
          padding-top: 20px

        div
          font-size 17px
          font-family 'Samsung Sharp Sans'
          display: inline-block;

        .one
          padding-left: 25px;
          width: 45%
        .two
          width: 55%
          padding-left: 30px;

    .headTable
      height: auto
      display: block;
      border-bottom: 2px solid #fff;
      font-size: 0
      background #848484
      min-height 70px
      color #FFF
      padding: 0 5px
      font-family 'Samsung InterFace'
      border none !important
      text-align center

      div
        display: inline-block;
        vertical-align top !important
      .one
        width: 45%
        span
          padding-left: 20px
          padding-top: 30px
          display: inline-block;
      .two
        width: 55%
        span
          padding-left: 30px
      span
        padding: 30px 0 0 0
        display: block;
        text-transform: uppercase;
        text-align: left
        font-size: 16px !important;
        font-family 'Samsung InterFace'
        font-weight bold
        font-size 22px
  .close_regulamento
    right 7px
    top 3px
    width: 25px
    height: 25px

  #modalCondicoesRegulamento .modal-header h4
    font-size 16px

@media only screen and (min-width : 768px)

  #modalResgateAntecipado
    .modal-dialog
      width 500px

  .modal-dialog
    width 90%

    .modal-body
      height 90% !important
