#participantes
  background-image url("../images/embalagem/fundo.jpg")
  background-size 100% 100%
  background-position top center

  .container-tabela
    position absolute
    left 0px
    top 50%
    margin-top -150px !important

  .table-responsive
    margin 0 auto
		text-align center

  .table-samsung
    max-width 80%
    display inline-table

    .cinza1
      background #b7b7b7

    .cinza2
      background #a4a4a4

    .cinza3
      background #848484

    .azul1
      background #21c5ff

    .azul2
      background #1aa7e4

    .azul3
      background #1384c3

    th
      font-size 16px
      line-height 18px
      height 81px
      font-weight normal

    td
      color #FFF
      padding-top 10px !important
      padding-left 10px !important
      text-align center
      font-weight bold
      font-family 'Samsung InterFace'

  h1
    text-align center
    font-family 'Samsung InterFace'
    font-size 34px
    margin-top 76px
    font-weight bold
    padding-left 20px
    padding-right 20px

  .fp-tableCell
    vertical-align top
    position relative

@media only screen and (max-width : 768px)

  .table
		  width 850px
