#perguntas_frequentes
  background-image url("../images/embalagem/fundo.jpg")
  background-size 100% 100%
  background-position top center

  #accordion
    max-width 80%
    display block
    margin 0 auto
    margin-top 0px
    margin-bottom 0px

    a
      text-decoration none
      display inline-block
      width 100%

      &[aria-expanded="false"] .icone
        float right
        width 32px
        height 32px
        background url("../images/perguntas_frequentes/accordion.png") no-repeat
        background-position -2px -110px
        margin-top 10px
        margin-right 10px

      &[aria-expanded="true"] .icone
        float right
        width 32px
        height 32px
        background url("../images/perguntas_frequentes/accordion.png") no-repeat
        background-position -2px -4px
        margin-top 10px
        margin-right 10px

    .panel-body
      color #147fbc
      font-size 17px
      font-family 'Samsung Sharp Sans'
      border none
      padding-left 25px
      padding-top 0px

    .panel-title
      font-size 21px
      font-family 'Samsung InterFace'
      font-weight bold
      color #6c6e71
      padding-top 10px
      padding-bottom 10px

    .panel
      border none
      box-shadow none
      border-radius 0px
      margin 0px
      background transparent

    .panel-heading
      background transparent
      border none
      border-top 1px solid #808285
      border-radius 0px
      padding 0px

    .panel-title
      min-height 32px
      line-height 32px

  h1
    text-align center
    font-family 'Samsung InterFace'
    font-size 38px
    margin-top 76px
    font-weight bold
    padding-left 20px
    padding-right 20px

  .fp-tableCell
    vertical-align top
    position relative

@media only screen and (max-width : 768px)

  #perguntas_frequentes
    .fp-tableCell
      padding-bottom 271px

@media only screen and (min-width : 769px)
  .panel-title
    min-height 60px
    line-height 60px
