#economia
  background-image url("../images/embalagem/fundo.jpg")
  background-size 100% 100%
  background-position top center

  .table-samsung
    width 52%

    span.num-label
      font-size 30px

    th
      text-align left
      padding-left 28px !important

    td
      color #000
      padding-top 30px
      padding-left 30px
      text-align left

      span.branco
        color #FFF
        font-weight bold
        font-family 'Samsung InterFace'

        &:last-child
          margin-top 20px

  h1
    text-align center
    font-family 'Samsung InterFace'
    font-size 24px
    margin-top 26px
    font-weight bold

  h2
    text-align center
    font-family 'Samsung InterFace'
    font-weight normal
    font-size 17px
    margin-top 4px
    margin-bottom 10px
    padding-left 15px
    padding-right 15px

  .fp-tableCell
    vertical-align middle
    position relative

  .item_tabela
    display block
    width 90%
    margin 0 auto

    .cabeca
      display inline-block
      width 100%
      min-height 60px
      line-height 60px
      background #848484
      padding-left 25px
      color #FFF
      font-family 'Samsung InterFace'
      font-weight bold
      font-size 20px

      p
				b
					display block
					font-weight bold
					font-family Samsung InterFace
					line-height 150%

				.num-label
					line-height 120%
					display inline-block
					padding 15px 0 0 0
					text-transform uppercase
					font 30px 'Samsung InterFace'

				.marginTop
					margin-top 10px

    .conteudo
      display inline-block
      width 100%
      background #1384c3
      padding-left 12px
      padding-right 12px
      padding-top 12px
      color #FFF
      font-family 'Samsung Sharp Sans'
      text-align left

      a
        color #000
      p
        color #000
        line-height 150%
        font 21px 'Samsung InterFace'
        line-height 26px

				.branco
					color  #fff


@media only screen and (min-width : 768px)
  #economia h1
    font-size 38px
    margin-top 76px
    position: absolute;
    left: 0
    top: 0
    width: 100%


  #economia h2
    margin-top 40px
    margin-bottom 40px
    font-size 21px !important
    font-family 'Samsung Sharp Sans' !important

  .item_tabela_wrapper
    max-width 1080px
    display block
    margin 0 auto
    font-size 0

  .item_tabela
    width 50% !important
    display table-cell !important
    vertical-align: top;
    height: auto
    background: #1384c3;

    .conteudo
      min-height 240px !important

      p
        font-size 21px
