// Mobile
#embalagem
  position relative
  background-image url("../images/embalagem/fundo.jpg")
  background-size 100% 100%
  background-position top center

  .modal-body
    padding: 0

    thead
      tr
        margin: 20px
    td
      border 0 !important
    th
      border 0 !important

  #topo_embalagem
    float left
    width 100%
    height 50px
    line-height 50px
    background #1588c9
    text-align right
    color #FFF
    padding-right 20px
    font-family 'Samsung Sharp Sans'

    span
      font-size 20px
      margin-left 6px
      margin-right 6px

    a
      color #FFF
      text-transform uppercase
      font-family 'Samsung Sharp Sans'
      font-size 20px

  .fp-tableCell
    vertical-align top

  .pacote
    width 100%
    height 240px
    float left
    display inline-block
    background-image url("../images/embalagem/pacote.png")
    background-size contain
    background-position top center
    background-repeat no-repeat


  .paragrafo
    width 100%
    height auto
    display block
    clear both
    color $embalagem_cor_paragrafo
    font-family 'Samsung Sharp Sans'
    font-size 13px
    letter-spacing 1px
    font-weight 300
    text-align center
    margin-top 40px
    margin-bottom 40px
    padding-left 10px
    padding-right 10px
    margin 115px auto 40px auto
    float none

    strong
      font-family 'Samsung InterFace'
      font-weight bold
      font-size 18px
      line-height 18px

    span.reduzido
      font-size 10px
      top -6px
      font-family: 'Samsung InterFace';
      font-weight: bold
      position relative

// Tablet
@media only screen and (min-width : 768px)

  #topo_embalagem
    float none !important
    position absolute
    left 0px
    top 0px
    width 100%
    height 70px !important
    line-height 70px !important
    background #1588c9
    text-align right
    color #FFF
    padding-right 20px
    font-family 'Samsung Sharp Sans'

  #embalagem

    .fp-tableCell
      vertical-align middle

    .pacote
      background-size contain
      height 50vh
      display block
      float none

    .paragrafo
      font-size 20px
      float: none
      padding 0 10px

      strong
        font-size 30px

// Desktop
@media only screen and (min-width : 992px)

  #embalagem

    .pacote
      width 40vw
      height 553px
      position absolute
      left 20%
      top 50%
      margin-top -195px
      margin-left -250px
      background-size 100%

    .paragrafo
      max-width 520px
      height 400px
      position absolute
      right 30%
      top 50%
      margin-top -100px
      margin-right -300px
      font-size 22px

      span.reduzido
        font-size 14px
        top -10px
        position relative

      .container-paragrafo
        float left

// Desktop
@media only screen and (min-width : 1270px)

  #embalagem

    .pacote
      width 700px
      height 553px

    .paragrafo
      width 493px
      margin-right -300px
      //font-size 27px
