// Mobile
#home
  // background-image url("../images/home/fundo.jpg")
  // background-size cover
  // background-position top center

  .fp-tableCell
    vertical-align top

    .celular-mobile
      background url("../images/home/celular-home-mobile.png") no-repeat
      display inline-block
      position relative
      right 20px
      width 100%
      height 280px
      background-size contain !important
      background-position center center !important

  .titulo
    width 100%
    height 58px
    background-image url("../images/home/titulo-mobile.png")
    background-size contain !important
    background-repeat no-repeat
    background-position -3px 0px
    display block
    margin-top 70px
    margin-bottom 10px !important

  .paragrafo
    width 100%
    height 99px
    display block
    clear both
    color #000
    font-family $home_fonte_paragrafo
    letter-spacing 1px
    font-weight 300
    font-size 17px
    text-align center
    padding-left 13px
    padding-right 16px
    margin-top 20px

// Tablet
@media only screen and (min-width : 768px)

  #home
    background-image url("../images/home/fundo.jpg")
    background-size cover
    background-position 0px 80px

    .celular-mobile
      display none

    .fp-tableCell
      vertical-align bottom

    .titulo
      width 540px
      height 95px
      background-size 100%
      margin-left 60px
      margin-bottom 10px !important
      background-image url("../images/home/titulo.png")
      background-size 422px auto !important

    .paragrafo
      width 540px
      height auto
      margin-top 0
      margin-left 60px
      margin-bottom 112px
      font-size $home_tamanho_paragrafo
      text-align left
      color #FFF
      padding-left 2px !important
      padding-left 0px !important

// Desktop
@media only screen and (max-width : 768px)
    #home
      .titulo
        background-position: top center

@media only screen and (min-width : 992px)

  #home

    .titulo
      width 422px
      height 105px
      background-size 100%
      margin 0px
      margin-left 60px
      margin-bottom 0 !important

    .paragrafo
      width 422px
      margin 0px
      margin-left 60px
      margin-bottom 112px
