#listagem
  background-image url("../images/embalagem/fundo.jpg")
  background-size 100% 100%
  background-position top center
  position relative

  .icones-desktop
    display block
    position relative
    width 100%
    height auto
    margin 0 auto
    margin-bottom 60px

    .icones-desktop-item1
      width 100%
      height 240px
      background url("../images/listagem/icones-desktop-item1-menor.png") no-repeat
      display block
      margin 20px auto
      background-position center center
      animation-delay 0.5s
      position relative
      background-size contain

    .icones-desktop-item2
      width 100%
      height 240px
      background url("../images/listagem/icones-desktop-item2-menor.png") no-repeat
      display block
      margin 20px auto
      background-position center center
      animation-delay 1s
      background-size contain

    .icones-desktop-item3
      width 100%
      height 240px
      background url("../images/listagem/icones-desktop-item3-menor.png") no-repeat
      display block
      margin 20px auto
      background-position center center
      animation-delay 1.5s
      background-size contain

    .icones-desktop-item4
      width 100%
      height 240px
      background url("../images/listagem/icones-desktop-item4-menor.png") no-repeat
      display block
      margin 20px auto
      background-position center center
      animation-delay 2s
      background-size auto 90%

    .icones-desktop-item5
      width 100%
      height 240px
      background url("../images/listagem/icones-mobile-item5-menor.png") no-repeat
      display block
      margin 20px auto
      background-position center center
      animation-delay 2.5s
      background-size contain

  .asterisco
    font-size 18px
    position relative
    top -10px

  .fp-tableCell
    vertical-align top

  h1
    text-align center
    font-family 'Samsung InterFace'
    font-size 21px !important
    font-weight bold
    margin-top 40px
    margin-bottom: 20px !important;

  h2
    text-align center
    font-family 'Samsung Sharp Sans' !important;
    font-size 16px !important
    line-height 130%
    margin-top 10px !important

    strong
      font-size 18px

  #lista-mobile
    margin 0px
    padding 0px
    margin-top 20px
    display block
    padding-left 20px
    padding-right 20px

    span.azul
      color #1689CA

    li
      float left
      width 100%
      clear both
      margin-bottom 10px
      list-style-type none

    img
      width 76px
      height auto
      float left
      margin-right 6px

    p
      font-size 14px
      float left
      font-family 'Samsung InterFace'

@media only screen and (min-width : 1270px)

  #listagem
    .icones-desktop
      top: -70px !important;
      left: 15px !important;
      max-width 100% !important

@media only screen and (min-width : 768px)

  #listagem

    .icones-desktop
      display block
      position relative
      width 100%
      max-width 1240px
      height calc(100vh - 200px)
      margin 0 auto
      top -135px
      left 0

      .icones-desktop-linha
        width 100%
        height 100%
        background url("../images/listagem/icones-desktop-fundo.png") no-repeat
        background-size contain !important
        background-position center center !important
        position absolute
        animation-delay 3s

      .icones-desktop-item1
        width 100%
        height 100%
        background url("../images/listagem/icones-desktop-item1.png") no-repeat
        background-size contain !important
        background-position center center !important
        position absolute
        animation-delay 0.5s

      .icones-desktop-item2
        width 100%
        height 100%
        background url("../images/listagem/icones-desktop-item2.png") no-repeat
        background-size contain !important
        background-position center center !important
        position absolute
        animation-delay 1s

      .icones-desktop-item3
        width 100%
        height 100%
        background url("../images/listagem/icones-desktop-item3.png") no-repeat
        background-size contain !important
        background-position center center !important
        position absolute
        animation-delay 1.5s

      .icones-desktop-item4
        width 100%
        height 100%
        background url("../images/listagem/icones-desktop-item4.png") no-repeat
        background-size contain !important
        background-position center center !important
        position absolute
        animation-delay 2s

      .icones-desktop-item5
        width 100%
        height 100%
        background url("../images/listagem/icones-desktop-item5.png") no-repeat
        background-size contain !important
        background-position center center !important
        position absolute
        animation-delay 2.5s

    h1
      text-align center
      font-family 'Samsung InterFace'
      font-size 38px !important

    h2
      text-align center
      font-weight normal
      font-size 21px
      line-height 26px
      margin-top 35px
      margin-bottom 14px !important

      strong
        font-family 'Samsung InterFace'
        font-size 26px

    #lista-mobile

      img
        width 100px

      p
        font-size 16px
