#participantes .table-com-borda
      td, th
        border 2px solid #fff !important
        
.table-mobile
  margin-bottom 60px !important
  td
    font-size 12px !important

.table-samsung
  display block
  margin 0 auto
  max-width none
  table-layout fixed
  word-wrap break-word

  span.num
    font-size 92px
    display inline-block
    font-family 'Samsung Sharp Sans'
    margin-top 32px
    position relative
    top -6px

  span.num-label
    display inline-block
    font-size 38px
    line-height 38px
    position relative
    top -6px
    text-align left
    text-transform uppercase
    font-weight normal !important

  thead th
    background #848484
    min-height 70px
    color #FFF
    font-size 24px
    line-height 26px
    padding 0px !important
    padding-left 5px !important
    padding-right 5px !important
    font-family 'Samsung InterFace'
    border none !important
    text-align center
    vertical-align middle !important

  tbody td
    background #1384c3
    color #FFF
    font-size 17px
    font-family 'Samsung Sharp Sans'
    text-align center
    padding-top 20px !important
    padding-left 15px !important
    vertical-align middle !important
    border none !important

@media only screen and (max-width: 768px)
  .table {
      width: 100% !important;
  }
